@import url(./../colors.css);

.categories {
    width: 90vw;
    height: 35vh;
    background-color: var(--grin-color-background);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}