@import url(./../colors.css);

.categories {
    padding-top: 40px;
    display: flex;
    justify-content: center;

    .categories__box {
        width: 90vw;
        height: 35vh;
        background-color: var(--grin-color-background);
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}